h1{
    color: pink;
}
#ten
{
    color: purple;
}
.ten1
{
    color: red;
}
table,th,td{
    border: 0.5px solid red;
}
table
{
    width: 100%;
}
#head{
    background-color: royalblue;
}
.tablebody,tr,td
{
    text-align: center;
}