#abc{

    color: red;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 750px;
}
.div1
{
    float: right;
    width: 900px;
}
#head
{
    height: 30px;
    color: white;
    background-color: blue;
}
body {
    padding: 75px;
}
table {
    width: 75%;
    border-collapse: collapse;
    text-align: left;
}
tr
{
    background-color: cornsilk;
}

